<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>quadramultifeature</name>
	<displayName><![CDATA[Configure caracteristics for products]]></displayName>
	<version><![CDATA[1.1]]></version>
	<description><![CDATA[Add several value for the same caracteristic of a product]]></description>
	<author><![CDATA[Quadra Informatique]]></author>
	<tab><![CDATA[quadra]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>